<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SICO - Sistema de Controle</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<body>

	<div class="container my-2">
	<h1>Lista de apontamentos</h1>
	
	<a th:href = "@{/showNewApontamentoForm}" class="btn btn-primary btn-sm mb-3"> Adicionar apontamento </a>
		<a th:href = "@{/}" class="btn btn-primary btn-sm mb-3"> Voltar para página inicial </a>
	
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						<a th:href="@{'/pageApontamento/' + ${currentPage} + '?sortField=data&sortDir=' + ${reverseSortDir}}">
							Data</a>
					</th>
					<th>
					<a th:href="@{'/pageApontamento/' + ${currentPage} + '?sortField=projeto.idprojeto&sortDir=' + ${reverseSortDir}}">
							Projeto</a>
					</th>
					<th>
					<a th:href="@{'/pageApontamento/' + ${currentPage} + '?sortField=horas&sortDir=' + ${reverseSortDir}}">
							Total de horas</a>
					</th>
					<th>
					<a th:href="@{'/pageApontamento/' + ${currentPage} + '?sortField=cliente.idcliente&sortDir=' + ${reverseSortDir}}">
							Cliente</a>
					</th>
					<th>
					<a th:href="@{'/pageApontamento/' + ${currentPage} + '?sortField=servico.idservicol&sortDir=' + ${reverseSortDir}}">
							Serviço</a>
					</th>
					
					<th> Ações </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="apontamento : ${listApontamentos}">
					<td th:text="${apontamento.data}"></td>
					<td th:text="${apontamento.projeto.descricao}"></td>
					<td th:text="${apontamento.horas}"></td>
					<td th:text="${apontamento.cliente.nomeFantasia}"></td>
					<td th:text="${apontamento.servico.descricao}"></td>
					<td> <a th:href="@{/showFormApontamentoForUpdate/{id}(id=${apontamento.idapontamento})}" class="btn btn-primary">Update</a>
					    <a th:href="@{/deleteApontamento/{id}(id=${apontamento.idapontamento})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/pageApontamento/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/pageApontamento/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/pageApontamento/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
	</div>
</body>
</html>