<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SICO - Sistema de Controle</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Gestão de apontamentos</h1>
		<hr>
		<h2>Salvar</h2>

		<form action="#" th:action="@{/saveApontamento}" th:object="${apontamento}"
			method="POST">
			<input type="date" th:field="*{data}"
				placeholder="Data" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{projeto.idprojeto}"
				placeholder="Projeto" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{horas}"
				placeholder="Horas" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{cliente.idcliente}"
				placeholder="Cliente" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{servico.idservico}"
				placeholder="Servico" class="form-control mb-4 col-4">
								
				<button type="submit" class="btn btn-info col-2"> Salvar apontamento</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/apontamentos}"> Voltar para lista de apontamentos</a>
	</div>
</body>
</html>